node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.sample
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Sqlite3
*.sqlite3
