/* @import '@fontsource/fira-mono'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.00em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: #232424;
}

hr {
    color: #e5e7eb !important
}

pre, code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
    background-color: #fafafa;
    font-size: .8rem;
    overflow-x: scroll;
    padding: 1.125em;
    margin-top: 8px;
    margin-bottom: 8px;
}

pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }